model:
    ckpt_path: ~
    backbone:
        params:
            input_channels: 3
            output_channels: 3
            encoder_dims: [4, 8, 16]
            decoder_dims: [8, 4]
    color_naming:
        num_categories: 6
    bezier_control_points_estimator:
        params:
            num_categories: ${model.color_naming.num_categories}
            num_control_points: 10
    local_fusion:
        params:
            att_in_dim: 3
            num_categories: ${model.color_naming.num_categories}
            max_pool_ksize1: 4
            max_pool_ksize2: 2
            encoder_dims: [8, 16]

data:
    train:
        target: mit5k
        params:
            input_path: /root/dataset/source/
            target_path: /root/dataset/target/
            img_ids_filepath: /root/images_train.txt  # 数据中前面的序号写成的文件，用来决定用数据集中哪些数据来训练
            transform:
                - type: RandomCrop  # 在 YAML 文件中，- 开头的行代表“列表项(list item)”
                  params:
                    size: [ 512, 512 ]
                - type: Resize
                  params:
                    size: 512
                - type: RandomHorizontalFlip
                  params:
                    p: 0.5
                - type: RandomVerticalFlip
                  params:
                    p: 0.5

    test:
        target: mit5k
        params:
            input_path: /root/val/source/
            target_path: /root/val/target/
            img_ids_filepath: /root/images_val.txt

train:
    cuda_visible_device: 0,1,2,3
    batch_size: 8
    epochs: 10
    valid_every: 1
    optimizer:
        type: Adam
        params:
            lr: 1e-4
            betas: [ 0.9, 0.999 ]
            eps: 1e-8
    criterion:
        type: backbone-L2-SSIM
        params:
            alpha: 0.5
            ssim_window_size: 5
eval:
    metrics:
        - type: PSNR
          params:
              data_range: 1.0
        - type: SSIM
          params:
              kernel_size: 11
        - type: LPIPS
          params:
              net: vgg
              version: 0.1
        - type: deltaE00
        - type: deltaEab
    metric_to_save: PSNR









